#container {
  box-sizing: border-box;
  /* margin: 0; */
  display: inline-block;
  /* display: flex; */
  justify-content: space-evenly;
  margin-left: 60px;
  margin-right: 60px;
  /* padding-left: 60px; */
  /* padding-right: 60px; */
}
#card {
  /* border: 2px solid rebeccapurple; */
  /* width: 200px; */
  justify-content: center;
}
